name: "Weather Station Listener"
description: "Listens to a weather station that uploads its data via HTTP get"
version: "1.0.0"
slug: "weather_station_listener"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
ports:
  8000/tcp: 8000
